<ion-view view-title="Usuarios">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="usuario in usuarios" type="item-text-wrap" href="#/tab/pastels">
                <img src="img/me.png">
                <h2>{{usuario.apellido}} {{usuario.nombre}}</h2>
                <p>{{usuario.correo}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>